$black-color: #000000;
$purple-color: #7c3aed;
$purple-hover-color: #662fc5;
$white-color: #ffffff;
$grey-light-color: #f4f4f5;
$grey-dark-color: #afafaf;
$bg-color: #e5e7eb;
$text-color: #3f3f46;
$text-light-grey-color: #a1a1aa;
$input-focused-color: #f3f4f6;
$input-color: #f9fafb;
$red-color: #dc2626;
$green-color: #16a34a;
$light-violet-color: #f5f3ff;
