@font-face {
	font-family: "Helvetica-Neue";
	src: url("../assets/fonts/helvetica-neue-regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica-Neue";
	src: url("../assets/fonts/helvetica-neue-medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
